# User Secrets
.env
config.json

# Runtime Files
*.log
__pycache__
lock.pid
venv

# Downloaded files
crackers
files
hashlist_*
hashlists
preprocessors
prince

# IDE files
.idea

# Uncategorized
*.iml
*.exe
7zr
*.zip
